/** 
Stylesheet for LocalStorage testing website
Author: Mahamad Qaium Shah
**/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 14px;
}

body {
  background-color: #13192c;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}

a:hover {
  color: #0b6950;
}

/**Consoleprint css **/
.consolePrint {
  position: fixed;
  top: 180px;
  left: 0;
  width: 30vw;
  cursor: pointer;
  text-align: left;
  background: #ffffff;
  color: #000000;
  border-radius: 2px;
  padding: 10px;
}

#consoleTable {
  margin: 20px 20px 20px 0;
  border-bottom: 1px;
}

#consoleTable td,
#consoleTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#consoleTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#consoleTable tr:hover {
  background-color: #ddd;
}

#consoleTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1ab188;
  color: white;
  text-transform: uppercase;
}

/** Main content of the page **/
main * {
  line-height: 1.5;
}

main > h1 {
  font-size: 3rem;
  line-height: 1;
  color: #476c97;
  font-weight: 400;
  text-align: center;
  padding-left: 25px;
  margin-top: 55px;
}

main h2 {
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;
}

.main {
  color: #ffffff;
  padding: 0 40px 40px 350px;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 4px;
  border-radius: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1,
h2 {
  font-weight: 400;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: '';
  display: table;
  clear: both;
}

.tab a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background-color: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab a:hover {
  background: rgba(14, 39, 31, 1);
  color: #ffffff;
}

.active a {
  background: #1ab188;
  color: white;
}

.tab-content > div:last-child {
  display: none;
}

form {
  width: 100%;
}
.field-wrap {
  margin: 20px 0;
  position: relative;
}

.field-wrap input {
  padding: 8px 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
}

form,
label,
input,
button {
  width: 100%;
}

.field-wrap label {
  text-transform: uppercase;
  font-size-adjust: 0.58;
}

.field-wrap label span {
  color: #1ab188;
}

.field-wrap .togglePassword {
  padding: 14px 14px 14px 14px;
  position: absolute;
  z-index: 1;
  margin: 11px 0 0 -44px;
  border-radius: 0 2px 2px 0;
  color: #ffffff;
  background-color: #1ab188;
  cursor: pointer;
  transition: 0.5s ease;
  outline: none;
}

.field-wrap .togglePassword:hover {
  background: rgba(14, 39, 31, 1);
}

button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  margin-top: 5px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}

button:hover {
  background: rgba(14, 39, 31, 1);
  color: #ffffff;
}
