// Styling for code snippets

comment {
    /* color: #478097; */
    color: #476c97;
    font-weight: 400;
}

.indent {
    padding-left: 3ch;
    border-left: 1px solid rgb(71, 108, 151, 0.25);
}

string {
    color: #2eccb0;
}

function {
    /* color: #9a59c5; */
    color: #7aa2f7;
}

.declaration {
    color: #9a59c5;
}

.codeblock {
    color: #c0caf5;
    background-color: darken($color-bg, 37%);
    padding: 1rem 2rem;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 2rem;
}
