/**
 * This file should contain anything reusable such as buttons, navbars, cards etc.
 */

/* --- Link styling --- */

a {
    position: relative;
    text-decoration: none;
    color: #2eccb0;
}

a:hover,
a:focus {
    color: #b9aa1f;
}

a::before:not(nav) {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #2eccb0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* --- Navigation bar --- */
nav {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    border-bottom: 2px solid rgba(46, 204, 176, 0.25);
}

/*
 * Styling for console output
 * Author: Mahamad Qaium Shah
 */

.consolePrint {
    /* position: fixed;
    top: 180px;
    left: 0;
    width: 30vw; */
    // max-width: 100%;

    cursor: pointer;
    text-align: left;
    background: #ffffff;
    color: #000000;
    border-radius: 2px;
    padding: 10px;
}

#consoleTable {
    margin: 20px 20px 20px 0;
    border-bottom: 1px;
}

#consoleTable td,
#consoleTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#consoleTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#consoleTable tr:hover {
    background-color: #ddd;
}

#consoleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1ab188;
    color: white;
    text-transform: uppercase;
}

/* --- Bootstrap table adjustments --- */

.table {
    color: #fff;
    max-width: 1400px;

    thead {
        color: darken($color-bg, 37%);
        // background-color: #dee2e6;
        background-color: $color-fadedblue;
    }
}

.table.with-borders {
    th, td {
        border: 2px solid $color-fadedblue;
    }
}

/* --- Form components --- */

/* button,
input[type='submit'] {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background: #476c97;
  background: #2eccb0;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

input[type='submit'] {
  margin-bottom: 2rem;
} */

label {
    font-size: inherit;
}

input[type='text'] {
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}


#hidable-form summary:hover {
    color: #1ab188;
    cursor: pointer;
}

#hidable-form summary:focus {
    outline: none;
}

button {
    max-width: 100%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    cursor: pointer;
}

button:hover {
    background: rgba(14, 39, 31, 1);
    color: #ffffff;
}

button#clear {
    background-color: $color-warning;
}
